<div class="col-lg-12 text-center" id="knowledge_picture">
  <%= image_tag("knowledge.png") %>
</div>
<div class="col-lg-12 segment" id="foreclosure">
  <h1>Foreclosure</h1>
</div>
<div class="col-lg-12 segment" id="divorces">
  <h1>Divorces</h1>
</div>
<div class="col-lg-12 segment" id="financial_hardship">
  <h1>Financial Hardship</h1>
</div>
<div class="col-lg-12 segment" id="probate_or_inherited">
  <h1>Probate or Inherited</h1>
</div>
