<div class="col-lg-12 segment" id="long_term">
  <h1>Long Term</h1>
</div>
<div class="col-lg-12 segment" id="short_term">
  <h1>Short Term</h1>
</div>
<div class="col-lg-12 segment" id="partnerships">
  <h1>Partnerships</h1>
</div>
